@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

/* Üldised layout klassid */
.container {
  @apply max-w-sm mx-auto mt-10;
}

/* Pealkirjad */
.title {
  @apply text-xl font-bold text-center mb-4;
}

/* Inputid */
.input {
  @apply border p-2 rounded w-full;
}

/* Suured nupud */
.button {
  @apply bg-green-700 text-white py-2 px-4 rounded w-full active:bg-green-800 transition;
}

/* Väikesed nupud */
.button-small {
  @apply bg-green-700 text-white py-1 px-2 rounded text-sm active:bg-green-800 transition;
}

